@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-arabic {
  font-family: "Amiri", "Arabic Typesetting", "Traditional Arabic", serif;
  direction: rtl;
  text-align: center;
  line-height: 1.8;
  unicode-bidi: embed;
}

.sections-container {
  width: 50%;
}

@media (max-width: 550px) {
  .hadith-display-container {
    flex-wrap: wrap;
  }
  .sections-container {
    width: 100%;
  }
}
